.container {
    display:grid;
    grid-gap: 10px;
    grid-template-rows: repeat(2, 50%);
}

#navbar {
    display: none;
}

#navbar {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: repeat(2, 10px);
}